* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2f60a6;
  --dark: #000;
  --light: #fff;
  --bglight: #e5e5e5;
}
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Manrope", sans-serif;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  border-color: var(--dark);
}
#hero .navbar .btn {
  color: var(--light);
}

#hero .navbar-light .navbar-toggler {
  border: none;
  color: var(--dark);
}

#hero .navbar .nav-item a {
  color: var(--dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.main-content .card {
  background: none;
}
.main-content .main-heading {
  font-weight: 800;
  font-size: 56px;
  line-height: 74px;
}
.main-content .main-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

/* .navbar-toggler-icon {
  border: none;
} */
#hero {
  background: url(./images/Rectangle\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero ul {
  list-style-type: none;
}

#icons img {
  height: 76px;
  width: 76px;
}

.icons-header {
  max-width: 994px;
  margin: 0 auto;
}

.icons-header h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
}
.icons-header p {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
}

.banner {
  color: var(--light);
  background: linear-gradient(180deg, #2f60a6 0%, #2c347c 100%);
  padding-left: 0;
  padding-right: 0;
}

.banner h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "liga" off;
}

.banner p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "liga" off;
}

.banner img {
  width: 24px;
  height: 24px;
}

.team {
  color: #2e2e2e;
}

.team h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.row {
  margin-right: 0;
}
.brands {
  background: linear-gradient(180deg, #2f60a6 0%, rgba(44, 52, 124, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
}
.section-header > * {
  color: #18191f;
  font-feature-settings: "salt" on, "liga" off;
}

.section-header .big-heading {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.section-header .header-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.contact img {
  max-height: 120px;
  max-width: 120px;
}

.btn-noborder {
  border: none;
}

.contact .btn {
  color: var(--light);
}

.footer {
  color: #e6e6e6;
  list-style-type: none;
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
}
#footer-row {
  margin-bottom: 30px;
}
.footer li {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 24px;
}
.footer li:first-of-type {
  color: var(--light);
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 768px) {
  .banner img {
    transform: rotate(90deg);
  }
  #bottom {
    flex-direction: column-reverse;
  }
  #bottom .logo-container {
    margin-bottom: 24px;
  }
  #footer-row .column {
    margin-bottom: 30px;
  }
  .section-header .big-heading,
  .team .card-title,
  .banner h1 {
    font-size: 36px;
  }

  .main-content .main-heading {
    font-size: 42px;
    line-height: 58px;
  }

  .main-content .main-desc {
    font-size: 12px;
    line-height: 23px;
  }
  .banner .banner-box {
    margin-bottom: 20px;
  }
  .footer {
    text-align: left;
  }

  #footer-row .column:last-of-type {
    margin-bottom: 0;
  }
}
