.contact-section .btn {
    width: 100%;
  }
  .form-control {
    background: #eeeeee;
    border: 1px solid #000000;
    border-radius: 5px;
  }


  @media (max-width: 1199px) {
    .revert {
      flex-direction: column-reverse;
    }
    .revert div[class^="col-"] {
      padding: 0 20px;
    }
  }