@media (max-width: 767px) {
    main {
      padding-top: 72px;
    }
  }

  @media (max-width: 767px) {
    header {
      padding: 16px 20px;
      height: 72px;
    }
  
    .logo-link img {
      height: 38px;
    }
  
    .nav-links-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--primary);
      padding: 30px 0;
      display: none;
    }
  
    .nav-links {
      display: inline;
    }
  
    .nav-links a {
      display: block;
    }
  
    .mobile-menu-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  
    .mobile-menu-close,
    .mobile-menu-open {
      background-color: transparent;
      border: 0;
      color: white;
      font-size: 20px;
      width: 44px;
      height: 44px;
      padding: 0;
    }
  
    .nav-links-container.open {
      display: flex;
    }
  
    .revert-on-mobile {
      flex-direction: column-reverse;
    }
  
    .revert-on-mobile div[class^="col-"] {
      padding: 0 20px;
    }
  
    .text-container {
      margin-top: 30px;
    }
  
    .section-header {
      padding-bottom: 40px;
    }
  
    .grid-column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .mobile-menu-close,
    .mobile-menu-open {
      display: none;
    }
  }
  