.services .card {
    max-width: 340px;
    max-height: 542px;
    margin-bottom: 50px;
  }
  
  .services .card h2 {
    font-family: "WorkSans", sans-serif;
  }
  
  .services ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
  .services li {
    position: relative;
  }
  .services li::before {
    content: url(./images/check.svg);
    height: 25px;
    width: 25px;
    position: absolute;
    top: -2px;
    left: -35px;
  }
  
  .services .heading-large {
    padding-bottom: 10px;
  }

  .cards-section .card {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px 38px;
  }