  .intro-section {
  background-color: var(--primary);
  color: white;
  padding: 30px 0 82px;
}

.intro-section img {
  width: 100%;
}

.intro-section .image-container {
  display: flex;
  align-items: center;
}

.clients {
  color: #000;
}

.about img {
  max-width: 100%;
}

.card-job {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(33, 37, 41, 0.75);
  text-transform: uppercase;
}

.shadow-white {
  color: rgba(255, 255, 255, 0.75);
}

.cards-section .card {
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 38px;
}