:root {
    --primary: #f25c05;
    --secondary: #f3d92c;
    --dark: #212529;
    --light: #fff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "WorkSans", sans-serif;
    color: var(--dark);
  } 
  /* UTILITY */
  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .btn {
    border-radius: 5px;
  } 
  .btn-light {
    padding: 12px 50px;
  }
  .btn-dark {
    background-color: var(--dark);
    padding: 12px 30px;
  }
  .btn-dark:hover {
    opacity: 0.8;
  }
  .shadow-text {
    color: rgba(33, 37, 41, 0.5);
    mix-blend-mode: normal;
  }
  .medium-shadow {
    color: rgba(33, 37, 41, 0.75);
  }

  .center {
    text-align: center;
  }
  
  .section-header {
    max-width: 410px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 44px;
  }
  .pt-big {
    padding-top: 60px;
  }
  .heading-large {
    font-family: "Crimson", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  
  .heading-small {
    font-family: "Crimson", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  .text-medium {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  .text-small {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
  }
  
  .header-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 16px;
    color: var(--secondary);
  }
  
  .header-white {
    color: var(--light);
  }
  
  header {
    position: fixed;
    background-color: var(--primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 10;
  }
  
  main {
    padding-top: 120px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
  }
  
  footer {
    background-color: var(--primary);
    color: var(--light);
  }
  footer .row {
    height: 125px;
  }
  footer .col {
    margin: 0;
    padding: 0;
  }
  footer .text-medium {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  footer img:not(:last-of-type) {
    padding-right: 20px;
  }
  .upper {
    text-transform: uppercase;
  }