/* SMALL SCREENS */
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .grid-4 {
    grid-template-rows: repeat(6, 5rem);
    grid-template-columns: repeat(4, 5rem);
  }
  section {
    margin: 0.75rem 0;
  }
  .heading-main {
    margin-bottom: 1rem;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  section {
    margin: 1rem 0;
    grid-template-rows: repeat(4, 4rem);
  }
  .grid-1 {
    grid-template-rows: repeat(3, 5rem);
    grid-template-columns: repeat(4, 5rem);
  }

  .grid-2 {
    grid-template-columns: repeat(4, 4rem);
  }
  .grid-3 {
    grid-template-rows: repeat(5, 5rem);
    grid-template-columns: repeat(4, 5rem);
  }
  .grid-4 {
    grid-template-rows: repeat(6, 4rem);
    grid-template-columns: repeat(4, 4rem);
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  section {
    margin: 1rem 0;
  }
  .grid-1 {
    grid-template-rows: repeat(3, 4rem);
    grid-template-columns: repeat(4, 4rem);
  }
  .grid-2 {
    grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(4, 4rem);
  }

  .grid-3 {
    grid-template-rows: repeat(5, 3rem);
    grid-template-columns: repeat(4, 3rem);
  }
  .grid-4 {
    grid-template-rows: repeat(6, 3rem);
    grid-template-columns: repeat(4, 3rem);
  }
}

@media screen and (max-width: 1025px), (max-height: 950px) {
  .main-heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .text-medium {
    font-size: 1rem;
  }
  .btn {
    width: 4rem;
    font-size: 1rem;
  }
  .btn-start {
    width: 8rem;
    font-size: 1.5rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .player-active h1 {
    font-size: 1.75rem;
  }
}
@media screen and (max-height: 950px) and (min-width: 768px) {
  .btn {
    width: 8rem;
  }
}

@media screen and (max-width: 1200px) {
  .game-details,
  .game-mode {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .game-mode > * {
    margin: 1rem 0;
  }
  .radio-button label {
    width: 16rem;
  }
}
