@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --color-primary: #f4a261;
  --color-secondary: #e76f51;
  --color-tertiary: #2a9d8f;
  --color-light: #e9c46a;
  --color-dark: #264653;
  --text-light: #fff;
  --text-dark: #12181b;
  --font-family: "Itim", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  background-color: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
}
.main-heading {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.text-bold {
  font-size: 1.5rem;
  font-weight: 700;
}
.text-center {
  text-align: center;
}

.text-medium {
  font-size: 1.25rem;
  font-weight: 500;
}

.display {
  text-transform: uppercase;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-gap: 1rem;
  perspective: 800px;
  margin: 2rem 0;
}
.grid-1 {
  grid-template-rows: repeat(3, 8rem);
}

.grid-2 {
  grid-template-rows: repeat(4, 8rem);
}
.grid-3 {
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(5, 8rem);
}
.grid-4 {
  grid-template-rows: repeat(4, 8rem);
  grid-template-columns: repeat(6, 8rem);
}

.card {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}
.card:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
  transition-duration: 1s;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  backface-visibility: hidden;
}

.rotateCard {
  transform: rotateY(180deg);
}

.player-active {
  color: var(--color-tertiary);
}
.player-active h1 {
  font-size: 2.25rem;
}
.stats-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"],
label {
  cursor: pointer;
}
.game-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.game-details > * {
  flex: 1 1 0px;
}
.game-mode {
  display: flex;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}

.game-mode:first-of-type {
  margin-bottom: 2rem;
}

.game-mode > * {
  margin: 0 1rem;
}

.hide {
  display: none;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-family: var(--font-family);
  transition-duration: 0.7s;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  width: 8rem;
  cursor: pointer;
  font-weight: 700;
}

.btn-start {
  margin-top: 4rem;
  background-color: var(--color-tertiary);
  color: var(--color-light);
  text-transform: uppercase;
}

.btn:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
  font-size: 28px;
  transition: 0.5s;
  color: var(--color-tertiary);
  background-color: var(--color-light);
}

.btn-reset {
  background-color: var(--color-secondary);
  color: var(--text-light);
}
.btn-menu {
  background-color: var(--color-tertiary);
  color: var(--text-light);
}

.start-game {
  display: flex;
  justify-content: center;
}

/* STYLE RADIO BUTTONS TO LOOK LIE BUTTONS */
.radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-button label {
  display: inline-block;
  background-color: var(--color-secondary);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 10rem;
  font-weight: 700;
  transition-duration: 0.7s;
}

.radio-button input[type="radio"]:checked + label {
  background-color: var(--color-tertiary);
  color: var(--color-light);
}

.radio-button input[type="radio"]:hover + label {
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-light);
  opacity: 0.7;
  scale: 1.1;
  transition-duration: 0.5s;
}
