* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web";
}

/* COLORS */
:root {
  --main-bg-color: #eb7d4b;
}

/* UTILITY */

.center {
  text-align: center;
}
hr {
  border-width: 2px;
  border-style: solid;
  width: 87px;
  margin: 0 auto;
}
.btn {
  padding: 23px 83px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}
.btn a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-transform: uppercase;
}
.pxy-1 {
  padding: 0 182px 107px;
}

.px-1 {
  padding: 0 170px;
}
.px-2 {
  padding: 0 212px;
}
.px-3 {
  padding: 0 266px;
}
.section-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 20px 0 70px 0;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  text-transform: uppercase;
  padding-top: 110px;
  /* margin-bottom: 25px; */
}
.section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-column > *{
  align-self: center;
}
.section-column p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.section-column h2 {
  margin-bottom: 13px;
  text-transform: uppercase;
}

/* FIRST SECTION */
#section-1 {
  background-color: #87509c;
}
#section-1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 60px;
}
#section-1 .header .nav {
  width: 40%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
#section-1 ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
#section-1 .main-content {
  margin-top: 130px;
}
#section-1 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42.1529px;
  line-height: 64px;
  color: #f7f3ea;
  margin-bottom: 26px;
}

a {
  text-decoration: none;
}

.active {
  background-color: #643a79;
  border-radius: 5px;
}
.nav-item {
  padding: 5px 18px;
}
.btn-container {
  padding-bottom: 145px;
}

.btn-work {
  background-color: var(--main-bg-color);
}

/* SECTION 2 */
#section-2 {
  background-color: #17c2a4;
  color: #fff;
}

.section-column-2 {
  width: 190px;
  padding-bottom: 122px;
}

.section-column-2 h2:first-of-type {
  margin-top: 59px;
}

.section-column-2 h2:nth-of-type(2) {
  margin-top: 55px;
}

.section-column-2 h2:nth-of-type(3) {
  margin-top: 58px;
}

.section-column-2 h2:last-of-type {
  margin-top: 54px;
}

.section-column-2 .img-branding {
  width: 120px;
  height: 124px;
}

.section-column-2 .img-design {
  width: 90px;
  height: 131px;
}

.section-column-2 .img-development {
  width: 159px;
  height: 126px;
}

.section-column-2 .img-rocket {
  width: 95px;
  height: 134px;
}

#section-2 hr {
  color: rgba(0, 0, 0, 0.15);
}

/* SECTION 3 */
#section-3 {
  background-color: #e7f1f8;
  color: #3c4761;
  /* height: 914px;
  width: 1440px; */
}
.section-header-3 {
  margin-bottom: 100px;
}

.section-content-3 {
  /* width: 1050px;
  height: 520px; */
}
#section-3 hr {
  color: #bdd1df;
  opacity: 0.75;
}
.section-content-3 {
  /* width: 1040px;
  height: 491px; */
  margin: 0 auto;
}

.section-column-3 {
  width: 200px;
  /* width: 200px;
  height: 491px; */
  /* padding-bottom: 120px; */
}

.section-column-3 h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #30bae7;
  margin-bottom: 9px;
}

.section-column-3 img {
  margin-bottom: 34px;
}

.section-column-3 p {
  margin-bottom: 37px;
}

#section-3 .section-column-3 h2 {
  margin: 0 auto 22px auto;
}

#section-3 h2 {
  text-transform: none;
}

#section-3 .upper {
  text-transform: uppercase;
}

/* .socials {
  padding-bottom: 120px;
} */

/* SECTION 4 */
#section-4 {
  background-color: #fff;
  color: #3c4761;
}
#section-4 hr {
  color: #dfe8ed;
}

#section-4 p {
  width: 550px;
  margin: 20px auto 80px;
}

.perc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-img {
  background-image: url(./images/progress1.png);
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webdesign {
  background-image: url(./images/progress1.png);
}

.htmlcss {
  background-image: url(./images/progress2.png);
}

.graphicdesign {
  background-image: url(./images/progress3.png);
}

.uiux {
  background-image: url(./images/progress4.png);
}

.perc-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perc-column h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 50.0117px;
  line-height: 76px;
}
.perc-column h3 {
  margin-top: 25px;
  padding-bottom: 110px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
}

/* SECTION 5 */
#section-5 {
  background-color: #ffdd99;
  color: #393939;
}

#section-5 hr {
  color: #e5c37f;
}

#section-5 .section-header-5 .header-desc {
  width: 500px;
  margin: 20px auto 44px;
}
.button-container {
  margin-bottom: 70px;
}
.btn-portofolio {
  padding: 6px 25px;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

.btn-portofolio a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-active {
  background-color: #fff;
}

.work-container {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.work-item {
  margin-right: 20px;
}

.work-item img {
  margin-bottom: 25px;
}
.work-item p {
  margin-bottom: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.btn-projects {
  background-color: #17c2a4;
  margin: 18px auto 110px;
}
/* SECTION 6 */
#section-6 {
  background-color: #d74680;
  color: #fff;
}

#section-6 hr {
  color: rgba(0, 0, 0, 0.15);
}
.test-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.test-row:first-of-type {
  margin-bottom: 110px;
}
.testimonial {
  display: flex;
  justify-content: space-between;
  width: 505px;
}

.test-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial img {
  width: 96px;
  height: 96px;
  margin-right: 48px;
}

.testimonial p {
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 33px;
}

.testimonial h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.testimonial h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffdd99;
}

#section-6 .capitalize{
  text-transform: capitalize;
}

/* SECTION 7 */
#section-7{
background-color: #3C5499;;
color: #fff;
}

#section-7 hr{
  color: #273A71;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 18px 290px 115px;
}
.input-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
input{
  width: 48%;
  height:56px;
}
input::-webkit-input-placeholder:after
{
   color:red;
   content:"*";
}

#section-7 *::placeholder{
  color:#fff;
}

#section-7 .btn-send{
  background-color: #30BAE7;
  width: 293px;
  height:70px;
  margin: 60px auto 0;
  padding: 20px;
}

.input-element{
  background-color: #273A71;
  border:none;
  padding: 15px 23px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.input-element a{
  width: 100%;
}

/* FOOTER  */
.footer{
  padding: 40px 250px;
  background-color: #273A71;
}
.footer ul{
  display: flex;
  justify-content: space-between;
  list-style: none; 
}
.footer a{
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 37px;
color: #FFFFFF;
}