/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS  */

:root {
  --primary-color: #ff7a5a;
  --background-color: #88bdbf;
}

body {
  background-color: var(--background-color);
  height: 100vh;
}
a {
  text-decoration: none;
}

/* UTILITY */
.center {
  text-align: center;
}
/* SECTION 1 - HEADER */

.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  border: 3px solid var(--primary-color);
  background-color: #f3f3f3;
  padding: 30px;
}

.header {
  padding-top: 20px;
  vertical-align: middle;
}
.logo {
  width: 50px;
  height: 50px;
}

.header-text {
  float: right;
  height: 50px;
  padding-top: 17px;
  font-size: 20px;
}

/* SECTION 2 - ICON */
.email-image {
  margin-top: 30px;
  width: 100%;
  height: 150px;
  background-color: var(--primary-color);
  /* text-align: center; */
  margin-bottom: 0;
}
.email-image i {
  color: #fff;
  padding-top: 35px;
}

/* SECTION 3 - EMAIL CONFIRMATION */
.email-confirmation {
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
  /* text-align: center; */
  background-color: #fff;
}
.text-container,
.footer {
  width: 50%;
  margin: 0 auto;
}
.email-confirmation .confirmation-heading {
  margin: 0 auto 30px auto;
  padding-top: 40px;
  font-size: 32px;
  /* font-weight: 900; */
}
.email-confirmation .confirmation-desc {
  font-size: 18px;
  /* font-weight: 500; */
}
.email-confirmation button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 30px 0 20px 0;
}
.email-confirmation a {
  text-decoration: none;
  color: white;
}

/* SECTION 4 - FOOTER */
.footer {
  /* text-align: center; */
  margin-top: 20px;
}
.footer .footer-heading {
  font-size: 32px;
}
.footer .icons-container {
  margin: 30px 0 20px;
}
.icons-container i {
  color: white;
}
.icons-container .btn-social {
  height: 50px;
  width: 50px;
  padding: auto;
  border-radius: 50%;
  color: white;
  border: none;
}

.icons-container .btn-social:not(:last-child) {
  margin-right: 5px;
}

.icons-container .btn-social:nth-of-type(1) {
  background-color: #4099ff;
}
.icons-container .btn-social:nth-of-type(2) {
  background-color: #5e8ac4;
}

.icons-container .btn-social:nth-of-type(3) {
  background-color: #ffc400;
}
