/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */

:root {
  --primary-color: #ffd200;
  --background-color: #f2f2f2;
  --text-color: #acabab;
}
body {
  background-color: var(--background-color);
  height: 100vh;
}
/* UTILITY */
.center {
  text-align: center;
}
.my-2 {
  margin: 20px 0;
}
.text-container {
  padding: 0 25px;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 40vw;
  height: 100vh;
  margin: 0 auto;
}
.icon-container {
  padding: 15px 0;
}
/* SECTION 1 */
section .main {
  width: 100%;
  height: 70%;
}
.main .main-content {
  background-color: var(--primary-color);
  height: 350px;
}
.main-content h1 {
  padding-top: 40px;
  font-size: 42px;
}
.main-content h3 {
  color: #fff;
  padding-top: 20px;
}
.main-content img {
  height: 150px;
  margin-top: 11%;
}
/* SECONDARY */
.secondary-content {
  background-color: #fff;
  height: 350px;
  padding: 30px;
}
.secondary-content h2 {
  position: relative;
}
.secondary-content h2:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background-color: var(--primary-color);
  bottom: -15px;
  left: 42%;
}
.secondary-content p {
  margin: 30px 0;
  line-height: 1.4;
}
.secondary-content .btn-details {
  padding: 10px 20px;
  /* margin-top: 10px; */
  border: 2px solid var(--primary-color);
  background-color: inherit;
  font-weight: 600;
}
.fade-text {
  color: var(--text-color);
}

.bottom {
  margin: 20px 10px;
  font-size: 9px;
}
.footer {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}
/* .footer > * {
  display: inline;
} */
/* .footer .icon-container {
  margin: 0 auto;
} */

.footer .icon-container > * {
  padding: 0 7px;
}

.footer p:last-of-type {
  font-weight: 600;
}
