* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 12px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #f2f2f2;
}
.top a{
  text-decoration: none;
}
.container {
  background-color: #000;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.container img {
  height: 300px;
  width: 100%;
}

.top {
  padding: 30px 0;
  font-weight: 300;
}

.top h1{
  margin: 10px 0;
}

.top i{
  color: #fff;
  margin: 20px 0;
}
.top .play-button {
  margin-top: 30px;
}

.bio {
  width: 40%;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.5;
}

.bio h2{
  margin-bottom: 20px;;
}

.bio .bio-desc{
  font-weight: 200;
}

hr{
  width: 40%;
  margin: 30px auto;
  color: #2f2f2f;
}

.footer a{
  color: #0e8ea8;
}