:root {
  --color-primary: #09c372;
  --color-secondary: #498afb;
  --color-light: #fff;
  --color-dark: #12181b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Itim", cursive;
  overflow: hidden;
}

.background {
  background-color: var(--color-dark);
  height: 100vh;
  padding-top: 1px;
}

a {
  text-decoration: none;
}
.heading {
  color: var(--color-light);
  text-align: center;
  margin-top: 5%;
}
.main-heading {
  font-size: 3rem;
}

.secondary-heading {
  font-size: 1.5rem;
}

.display {
  color: var(--color-light);
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 400px;
  height: 40vh;
}

.tile {
  border: 1px solid var(--color-light);
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: var(--color-primary);
}

.playerO {
  color: var(--color-secondary);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

/* .controls button { */
.btn {
  color: var(--color-light);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  width: 150px;
  cursor: pointer;
}

.btn-start {
  background-color: var(--color-primary);
}

.restart {
  background-color: var(--color-secondary);
}

#reset {
  background-color: #ff3860;
  margin-right: 2rem;
}
#back {
  background-color: var(--color-secondary);
}

/* SELECT MODE */
.container-large {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-large > * {
  margin-bottom: 5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-mode {
  width: 400px;
  height: 10vh;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-mode:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-mode 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-mode {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-mode:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.details-visible {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.details > * {
  width: 100%;
}

.textbox {
  overflow: hidden;
  font-size: 20px;
  padding: 8x 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--color-primary);
}
input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  color: var(--color-light);
  font-size: 18px;
  background: transparent;
  margin: 0 10px;
}

@media screen and (max-height: 850px) {
  .btn-mode {
    scale: 0.75;
  }
  .btn-mode,
  .text-container {
    margin-bottom: 2rem;
  }
}
